/* INDEX HTML */

body {
    font-family: 'Buda', cursive;
    
}
#wrapper {
text-align: center;
margin-top: 5%;
}

#subwrapper {
    text-align: center;
    margin: 10%;
    padding: 10%;
}
/* ************* */